<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Suivi commande</title>

    <link rel="stylesheet" type="text/css"
          href="http://localhost:8080/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>

</head>
<body>
<div class="container">

    <h1 class="text-center font-weight-bold">Application Mcommerce</h1>

    <br/>
    <br/>
    <br/>

    <h2 class="text-center font-weight-bold">Exercice 2</h2>
    <p class="text-center">Commande N° : [[${expedition.idCommande}]]</p>
    <p class="text-center"> Etat de la commande </p>
    <p th:if="${expedition.etat == 0}" class="text-center text-success">En préparation </p>
    <p th:if="${expedition.etat == 1}" class="text-center text-success">Expédiée </p>
    <p th:if="${expedition.etat == 2}" class="text-center text-success">Livrée </p>

</div>

<script type="text/javascript" src="http://localhost:8080/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>